header {
    top: 0;
    width: 100%;
    background: rgba(9, 93, 64, 0.7);/* Fondo del encabezado */
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para el encabezado */

    & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 0;
        padding: 0;

        & li {
            font-family: "Hatton", serif;
            font-size: 130%;
        }
    }
}

.menu a {
    color: #212121;
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    position: relative;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    color: #ebebeb; /* Cambia el color del texto */

}

.menu a::after {
    content: ""; /* Línea decorativa */
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.menu a:hover::after {
    width: 100%; /* Línea animada */
}

.content {
    padding-top: 60px; /* Espaciado para evitar que el contenido quede oculto */
    text-align: center;
    color: white;
}

#title {
    font-family: "Hatton", serif; /* Ajuste la fuente */
    font-size: 150%;
    color: #212121;
    transition: color 0.3s ease-in-out;
}

#title:hover {
    color: #ebebeb; /* Cambia el color del título al pasar el cursor */
}
