<header class="py-2 px-6 ">
    <div class="menu  mx-auto flex flex-row items-center justify-between p-3">
        <a class="flex " id="title" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Sombrerería Casa Verde</a>
        
        <ul class="ul-header">
            <li class="li-header"><a routerLink="/colecciones">Tienda</a></li>
            <li class="li-header"><a routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page">Servicios</a></li>
            <li class="li-header"><a routerLink="/empresa" >Acerca de</a></li>
            <li class="li-header"><a routerLink="/contactos">Contacto</a></li>
        </ul>

        <div class="flex gap-3">
            @if (store.isAuth()) {
                <a routerLink="/shopping-cart" type="button" class="text-white bg-yellow-300 hover:bg-yellow-400 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2  ">
                    <svg class="w-[24px] h-[24px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                      </svg>                  
                    <span class="sr-only">Icon description</span>
                </a>

                <app-menu-cuenta [user]="usuario"/>
            }
            @else {
                <div class="flex ">
                    <button class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900  bg-white rounded-full border-2 border-gray-200 hover:border-black " routerLink="/login">Iniciar sesion</button>
                    <button class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900  bg-white rounded-full border-2 border-gray-200 hover:border-black " routerLink="/signup">Crear cuenta</button>
                </div>
            }
        </div>
    </div>
</header>