<header class="py-2 px-6 ">
    <div class="menu  mx-auto flex flex-row items-center justify-between p-3">
        <a class="flex " id="title" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Sombrerería Casa Verde</a>
        
        <ul class="">
            <li></li>
            <li><a routerLink="/colecciones">Tienda</a></li>
            <li><a routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page">Servicios</a></li>
            <li><a routerLink="/empresa" >Acerca de</a></li>
            <li><a routerLink="/contactos">Contacto</a></li>
            <li></li>
            <li></li>
        </ul>

        <div class="flex ">
            <button class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900  bg-white rounded-full border-2 border-gray-200 hover:border-black " routerLink="/login">Iniciar sesion</button>
            <button class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900  bg-white rounded-full border-2 border-gray-200 hover:border-black " routerLink="/signup">Crear cuenta</button>
        </div>
    </div>
</header>