.sombreros-container{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#marcas{
    width: 75%;
}

img{
    cursor: pointer;
    
}

.card{
    transition: transform 0.4s ease-in-out;
}

.card:hover {
    transform:scale(1.3);
}

p{
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

div {
    display:flex;
    justify-content: center;
}