
    <div class="row row-cols-1 row-cols-md-4 g-5 p-5" >
      
      <div class="col">
        <div class="card" >
          <img [src]="img1" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{sombreros.data[0].nombre}}<br>100X</h5>
          </div>
        </div>
      </div>
      <!--<div class="col">
        <div class="card">
          <img [src]="img2" id="img"class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HORMA CHAMPION<br>Bangora natural</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img [src]="img3" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SUPER LIGHT HAT<br>Premium 10,000X</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img [src]="img4" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CHEYENNE<br>100X</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img [src]="img5" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HORMA EL PATRÓN<br>100X</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img [src]="img6" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BANGORA<br>Bicolor</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img [src]="img7" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BANGORA 8 SEGUNDOS<br>50X</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img [src]="img8" id="img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HORMA MALBOLO-0</h5>
          </div>
        </div>
      </div> -->
    </div>
