<div class="register-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="register-form">
      <img [src]="logo" alt="Logo" class="register-logo" />
      
      <div class="main-container">
        <div>
          <div class="input-group" [class.invalid]="isInvalid('nombre')">
            <input 
              type="text" 
              formControlName="nombre" 
              placeholder="Nombre" 
              class="input-field" 
            />
            <div *ngIf="isInvalid('nombre')" class="error">
              <span>El nombre es obligatorio.</span>
            </div>
          </div>
          <div class="input-group" [class.invalid]="isInvalid('apellidoP')">
            <input 
              type="text" 
              formControlName="apellidoP" 
              placeholder="Apellido Paterno" 
              class="input-field" 
            />
            <div *ngIf="isInvalid('apellidoP')" class="error">
              <span>El apellido paterno es obligatorio.</span>
            </div>
          </div>
          <div class="input-group" [class.invalid]="isInvalid('apellidoM')">
            <input 
              type="text" 
              formControlName="apellidoM" 
              placeholder="Apellido Materno" 
              class="input-field" 
            />
            <div *ngIf="isInvalid('apellidoM')" class="error">
              <span>El apellido materno es obligatorio.</span>
            </div>
          </div>
          <div class="input-group" [class.invalid]="isInvalid('correo')">
            <input 
              type="email" 
              formControlName="correo" 
              placeholder="Correo Electrónico" 
              class="input-field" 
            />
            <div *ngIf="isInvalid('correo')" class="error">
              <span *ngIf="registerForm.get('correo')?.errors?.['required']">
                El correo es obligatorio.
              </span>
              <span *ngIf="registerForm.get('correo')?.errors?.['correo']">
                Ingresa un correo válido.
              </span>
            </div>
          </div>
          <div class="input-group" [class.invalid]="isInvalid('contraseña')">
            <input 
              type="password" 
              formControlName="contraseña" 
              placeholder="Contraseña" 
              class="input-field" 
            />
            <div *ngIf="isInvalid('contraseña')" class="error">
              <span>La contraseña es obligatoria.</span>
            </div>
          </div>
          <!--<div class="input-group" [class.invalid]="isInvalid('confirmPassword')">
            <input 
              type="password" 
              formControlName="confirmPassword" 
              placeholder="Confirmar Contraseña" 
              class="input-field" 
            />
            <div *ngIf="isInvalid('confirmPassword')" class="error">
              <span>Es necesario confirmar la contraseña.</span>
            </div>
          </div> -->
        </div>
  
          <div>
            <div class="input-group" [class.invalid]="isInvalid('calle')">
              <input 
                type="text" 
                formControlName="calle" 
                placeholder="Calle y Número" 
                class="input-field" 
              />
              <div *ngIf="isInvalid('calle')" class="error">
                <span>El domicilio es obligatorio.</span>
              </div>
            </div>
        
            <div class="input-group" [class.invalid]="isInvalid('ciudad')">
              <input 
                type="text" 
                formControlName="ciudad" 
                placeholder="Ciudad" 
                class="input-field" 
              />
              <div *ngIf="isInvalid('ciudad')" class="error">
                <span>La ciudad es obligatoria.</span>
              </div>
            </div>
        
            <div class="input-group" [class.invalid]="isInvalid('estado')">
              <input 
                type="text" 
                formControlName="estado" 
                placeholder="Estado" 
                class="input-field" 
              />
              <div *ngIf="isInvalid('estado')" class="error">
                <span>El estado es obligatorio.</span>
              </div>
            </div>
        
            <div class="input-group" [class.invalid]="isInvalid('CodigoP')">
              <input 
                type="text" 
                formControlName="CodigoP" 
                placeholder="Código Postal" 
                class="input-field" 
              />
              <div *ngIf="isInvalid('CodigoP')" class="error">
                <span>El código postal es obligatorio.</span>
              </div>
            </div>
          </div>
      </div>
      
  
      <button type="submit" class="btn-primary" [disabled]="registerForm.invalid">
        Registrarse
      </button>
  
      <div class="login-option">
        <span>¿Ya tienes cuenta?</span>
        <a routerLink="/login" routerLinkActive="active">Inicia sesión</a>
      </div>
    </form>
  </div>
  