<!DOCTYPE html>
<html lang="es">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
</head>

<body>
    <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>Nuestra empresa</h1>
                <p>Ubicada por la calle Porfirio Díaz, en una de las más viejas construcciones del primer cuadro, esta
                    sombrerería es el único negocio de su tipo que ha soportado el paso del tiempo. En 1940 inicia la
                    tradición sombrerera, don Cenobio acompañado de su esposa Fidencia Lucero, sus hijos Victoriano,
                    Eustacio, Eleodora y Wilfrido, se instala a principios del mes de enero de 1940, para ello instala
                    la que dominó desde un principio sombrerería <b>“Casa Verde”</b>, en donde además de ofrecer
                    calzado, ropa,
                    tradicional de muchos mexicanos.
                    comida y otros enseres, la atracción principal era la venta de sombreros, una forma complementaria
                    En los primeros años de la <b>“Casa Verde”</b>, su propietario a manera de anécdota, les colocaba un
                    sombrero diferente a sus hijos mayores, después los enviaba a la plaza principal para que los
                    lucieran e hicieran promoción del amplio surtido de los productos, don Cenobio logró consolidar su
                    empresa en los primeros años de la década de los cuarentas.
                    La empresa se ha destacado por ser una tradición que ha perdurado de generación en generación,
                    consolidándose como un referente en la región desde 1940. A lo largo de los años, ha mantenido su
                    compromiso con la calidad y la excelencia, preservando el legado de sus fundadores mientras se
                    adapta a los cambios sin perder su esencia.
                </p>
            </div>
            <div class="carousel-item">
                <h1>Misión</h1>
                <p>Ofrecemos sombreros y cinturones de alta calidad que realcen el estilo y personalidad de nuestros
                    clientes, combinando tradición, diseño y funcionalidad. Asegurando una experiencia de compra
                    excepcional con un compromiso constante hacia la satisfacción y excelencia.
                </p>
            </div>
            <div class="carousel-item">
                <h1>Visión</h1>
                <p>Ser la sombrerería líder en la región, reconocida por la exclusividad y calidad de nuestros
                    productos. Aspiramos a expandir nuestra presencia, convirtiéndonos en un referente para los amantes
                    de la moda que valoran la autenticidad y la elegancia, promoviendo siempre la artesanía y los
                    valores tradicionales en cada artículo que ofrecemos.</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>

</html>