/* General */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#empresa{
  width: 75%;
}

#mision{
  width: 75%;
}

#vision{
  float: right;
  width: 75%;
}

button {
  color: black;
}


